.app {
  width: 100%;
  height: 100vh;
  background: #f1f1f1;
}

.control-bar {
  width: 100%;
  height: 30px;
  background: #f5f5f5;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.control-bar .menu-item {
  padding: 0 5px;
}

.viewer {
  height: calc(100vh - 30px);
  display: flex;
  flex-direction: row;
}

.filmstrip {
  width: 220px;
  background: #eee;
  border-right: 1px solid #d9d9d9;
  padding: 15px;
  overflow-y: auto;
}
.filmstrip .slide-wrapper {
  border: 2px solid #ddd;
  margin: 0 auto 10px;
  overflow: hidden;
}

.workspace {
  flex: 1;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.workspace .slide-wrapper {
  border: 1px solid #ddd;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.slide-transform {
  transform-origin: top left;
}

.slide {
  position: relative;
  background: #fff;
  width: 100%;
  height: 150px;
}

.object {
  position: absolute;
  width: 50px;
  height: 50px;
  /*border: 1px dashed #ddd;*/
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.object img {
  /*position: absolute;
  top: 0;
  left: 0;*/
  width: 100%;
}

.text { 
  width: 100%;
  cursor: default;
}
.text span {
  word-wrap: break-word;
}

button {
  border: none;
  background: #b3b3b3;
  color: #fff;
  border-radius: 5px;
  padding: 4px 10px;
  cursor: pointer;
}
button:hover {
  background: #bbb;
}

button.primary {
  background: #e05843;
}
button.primary:hover {
  background: #ec634d;
}

.timeline {
  max-height: 150px;
  overflow-y: auto;
  margin-bottom: 20px;
  position: relative;
}
.timeline .marker {
  position: absolute;
  border: 1px solid transparent;
  border-top-color: #333;
  box-sizing: border-box;
}

/*.checkbox input[type="checkbox"] {
  display:none;
}

.checkbox label {
  display: flex;
  align-items: center;
}

.checkbox label:before {
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  display: inline-block;
  margin-right: 3px;
}
.checkbox input[type="checkbox"]:checked + label:before {
  background: #e05843;
}*/
